.autocomplete {
    background-color: #EEE;
    border-radius: 5px;
    padding: 5px;
}

.autocomplete > div {
    padding: 5px;
}

.autocomplete > div:hover {
    background-color: #0000FF;
    color: white;
}
