.autocomplete {
    background-color: #EEE;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.autocomplete > div {
    padding: 10px;
}

.autocomplete > div:hover {
    background-color: #0088FF;
    color: white;
    font-weight: bold;
}
